body {
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-block: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 0px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-family: "Poppins", sans-serif;
}
.button__link {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.button--img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.button--primary {
  background-color: #4caf50;
  color: #fff;
}

.button--subscribe {
  width: 300px;
}

.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.registro__title {
  font-size: 1.5em;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.form__container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.form__input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-width: 0px;
  margin-block: 5px;
  padding-left: 10px;
  border: 2px solid #ddd;
}
.form__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  flex-direction: row;
  justify-content: flex-start;
  width: 350px;
  margin-top: 10px;
}
.form__container-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-width: 0;
  justify-content: left;
}
.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.form__checkbox-label {
  margin-left: 5px;
  font-size: 1em;
}
.form__link {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.form__container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  margin-top: 10px;
}
.form__footer-text {
  margin-top: 10px;
}
.form__link--register {
  font-weight: bold;
  display: inline-block;
}

/*@use "../themes/colors";

.input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-width: 0px;
  margin-block: 5px;
  padding-left: 10px;
  border: 2px solid colors.$custom-grey;
}*/
.related-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 100px;
}

.related-card {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  border-radius: 8px;
  border: 1px solid grey;
  width: 300px;
  height: 350px;
  overflow: hidden;
  padding: 10px;
}
.related-card__img {
  width: 100%;
  height: auto;
}
.related-card__info {
  display: block;
}
.related-card__title {
  font-size: 1em;
  margin: 15px 0;
  font-weight: bold;
}
.related-card__profile {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.related-card__profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.related-card__profile-text {
  font-size: 1em;
}

.header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* &__divider {
     height: 1px;                
     background-color:grey;    
     margin: 10px 0;         
   }*/
}
.header__logo-container {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-inline: 10px;
}
.header__title {
  font-weight: bold;
  font-size: 1em;
}

.footer {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding: 2% 10% 2% 10%;*/
}
.footer__logo-container {
  display: flex;
  align-items: center;
}
.footer__logo {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-inline: 10px;
}
.footer__title {
  font-weight: bold;
  font-size: 1em;
}
.footer__divider {
  height: 1px;
  background-color: grey;
  margin: 10px 0;
}
.footer__rights {
  font-size: 1rem;
  font-weight: 400;
  margin-left: auto;
}

.main {
  height: 100%;
}

.cont-flex {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.cont-flex__img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.cont-flex__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: 500;
  font-weight: bold;
}
.cont-flex__date {
  padding-left: 50px;
}

.detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4d4d4;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 24px;
}
.detail-container__img {
  width: 60%;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.detail-container__text {
  text-align: left;
}
.detail-container__subscribe-title {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  text-align: left;
}
.detail-container--subscribe {
  background-color: #4caf50;
  text-align: left;
  flex-direction: row;
}
.detail-container__subscribe-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */