@use "../themes/fonts";
@use "../themes/colors";


.main {
    height: 100%;
}

.cont-flex{
    display: flex;
    align-items: center;
    margin-right: 10px;

    &__img{
        width: 66px;
        height: 66px;
        border-radius: 50%;
    }

    &__title{
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        margin-left: 20px;
        font-weight: 500;
        font-weight: bold;
    }

    &__date{
        padding-left: 50px;
    }

}

.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d4d4d4;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 24px;

    &__img {
        width: 60%;
        border-radius: 16px;
        margin-top: 20px;
        margin-bottom:20px
    }

    &__text {
        text-align: left; 
    }

    &__subscribe-title {
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        color: white;
        text-align: left;
    }

    &--subscribe {
        background-color: colors.$primary-green;
        text-align: left;
        flex-direction: row;
    }

    &__subscribe-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }

    

}